.carousel {
    margin: 20px 0; /* Espaciado alrededor del carrusel */
}

.carousel img {
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.breeds-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.animal-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 1200px;
}

.animal-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.animal-card:hover {
    transform: scale(1.05);
}

.animal-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.animal-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.animal-category {
    font-size: 14px;
    color: #666;
}
